// GLOBAL
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");

.container {
  font-family: "Rubik";
}
.buttonized {
  border-radius: 20px !important;
  margin-right: 16px;
  box-shadow: none;
  border: 0;
  &.primary {
    background: #8bac3e;
    color: white !important;
    border: 0;
    padding: 10px 15px;
    color: #8bac3e;
    font-family: "Rubik";
    font-weight: 500;
    font-style: normal;
    &.shadowed {
      box-shadow: 0px 8px 32px 0px #666be259;
    }
    &:hover {
      background: #8bac3e;
      color: white;
      border: 0;
    }
  }
  &.secondary {
    background: #f2f2f2;
    color: black;
    border: 0;
    padding: 10px 15px;
    font-family: "Rubik";
    font-weight: 500;
    font-style: normal;
    &:hover {
      background: #f2f2f2;
      color: black;
      border: 0;
    }
  }
  &.tertiary {
    background: transparent;
    color: black;
    border: 0;
    padding: 10px 15px;
    &:hover {
      background: transparent;
      color: black;
      border: 0;
    }
  }
}

.text {
  &.primary {
    color: #8bac3e;
  }
  &.secondary {
    color: black;
  }
  &.tertiary {
    color: #757575;
  }
  &.semi-bold {
    font-family: "Rubik";
    font-weight: 600;
  }
}

.centeredAll {
  align-items: center;
  justify-content: center;
  display: flex;
}

.greenish {
  background-color: #f0feeb !important;
}
.blueish {
  background-color: #e6f3f5 !important;
}
.purplish {
  background-color: #eaeefa !important;
}
.pinky {
  background-color: #f9eef3 !important;
}
.yellowish {
  background-color: #f3f7d9 !important;
}
.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.noMargPadd {
  padding: 0 !important;
  margin: 0 !important;
}
// END GLOBAL

// NAVBAR
.navbarContainer {
  .align-center {
    align-items: center;
  }
  .nav-link {
    position: relative;
  }
  .hotSpan {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #e7462d;
    border-radius: 8px;
    padding: 0px 10px;
    color: white;
    font-size: 12px;
  }
  .onMobile {
    display: none;
  }
}
// END NAVBAR
// FOOTER
.footerContainer {
  background: #f9fff7;
  padding: 4rem 4rem !important;
  p {
    cursor: pointer;
  }
  .socmedContainer {
    a {
      margin: 0 7px;
      color: #8bac3e;
      border-radius: 20px;
      padding: 5px 7px;
      &:first-child {
        margin: 0 7px 0 0;
      }
      &:hover {
        color: white;
        background: #8bac3e;
      }
    }
  }
  .form-control {
    &:focus {
      box-shadow: none;
      border: 1px solid #ced4da;
    }
  }
  .emailWrapper {
    position: relative;
    .sendButton {
      &:focus {
        box-shadow: none;
        border: 1px solid #ced4da;
      }
      position: absolute;
      right: 0;
      top: 0%;
      background-color: #8bac3e;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border: 1px solid #ced4da;
      outline: 0;
    }
  }
}
// END FOOTER

// HOME
.bgCustom {
  background: url("../assets/images/mainBgTransparent.png");
  background-position: center;
  background-size: cover;
}
.customizedRow {
  justify-content: center;
  align-items: center;
  .imageWrapper {
    background-color: #f6f6f6;
    border-radius: 50%;
    box-shadow: 0 0 0 30px #f6f6f6;
    margin: 40px 0;
    width: 50%;
    position: relative;
  }
  .imageDesc {
    width: 85%;
    position: absolute;
    left: -28%;
    bottom: -18%;
    background: rgba(255, 255, 255, 0.74);
    box-shadow: 0px 11px 39px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(11px);
    border-radius: 17px;
    padding: 20px;
    .descContainer {
      text-align: left;
      flex-direction: column;
      align-items: flex-start;
      p {
        margin: 0;
      }
    }
  }
}
.starContainer {
  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 1px;
  }
  .on {
    color: #ff8412;
  }
  .off {
    color: #ccc;
  }
}
.receipt {
  .receiptImg {
    width: 50% !important;
    padding: 1rem 1rem;
  }
  .card {
    margin: 20px 0;
  }
  .padded {
    padding: 10px 35px;
  }
  .card {
    border-radius: 20px;
    &.hovered {
      background: url("../assets/images/mainBgTransparent2.png");
      background-position: center;
      background-size: cover;
      cursor: pointer;
    }
  }
}
// SWIPER
.categories {
  height: 200px;
  .category {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
    border-radius: 20px;
    &:hover {
      background: url("../assets/images/mainBgTransparent2.png");
      background-position: center;
      background-size: cover;
      padding-bottom: 30px;
      cursor: pointer;
    }
    h5 {
      margin-bottom: 0;
      font-family: "Rubik";
      font-weight: 500;
    }
  }
  .swiper {
    height: 250px;
  }
  .swiper-button-prev {
    top: unset;
    bottom: 5%;
    right: 20%;
    left: unset;
  }
  .swiper-button-next {
    top: unset;
    bottom: 5%;
    right: 12.5%;
    left: unset;
  }
  .swiper-button-next,
  .swiper-button-prev {
    &::after {
      display: none;
    }
    button {
      background: #8bac3e;
      border: 0;
      border-radius: 20px;
      display: inline-flex;
      justify-content: space-around;
      align-items: center;
      .icons {
        color: #8bac3e !important;
        background: white;
        border-radius: 20px;
        padding: 2px;
        margin-right: 5px;
        box-shadow: 0;
        font-size: 20px;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
}
// End SWIPER

// END HOME

// RESPONSIVE MOBILE
@media (max-width: 575.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  // .row > * {
  //   padding: 0px 10px 0 20px !important;
  // }
  .swapPos {
    order: 1;
  }
  .navbarContainer {
    .onMobile {
      display: block;
      position: absolute;
      top: 10%;
      right: 0;
      padding-right: 0;
    }
    .navbar-brand {
      width: 50%;
      padding: 10px 0 0 20px;
    }
  }
  .mobileMenu {
    color: #757575;
  }
  .customizedRow {
    .imageWrapper {
      width: 70%;
      box-shadow: 0 0 0 20px #f6f6f6;
      margin-left: 10px;
    }
    .imageDesc {
      width: 100%;
      padding: 5px 0;
      left: unset;
      right: -35%;
      bottom: -5%;
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}
// END RESPONSIVE MOBILE
