.buttonized {
  border-radius: 20px !important;
  margin-right: 16px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
}

.buttonized.primary {
  background: #8bac3e;
  color: white;
  border: 0;
  padding: 10px 15px;
}

.buttonized.primary:hover {
  background: #8bac3e;
  color: white;
  border: 0;
}

.buttonized.secondary {
  background: #f2f2f2;
  color: black;
  border: 0;
}

.buttonized.secondary:hover {
  background: #f2f2f2;
  color: black;
  border: 0;
}

.buttonized.tertiary {
  background: transparent;
  color: black;
  border: 0;
}

.buttonized.tertiary:hover {
  background: transparent;
  color: black;
  border: 0;
}

.text.primary {
  color: #8bac3e;
}

.text.secondary {
  color: black;
}

.text.tertiary {
  color: #757575;
}

.centeredAll {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.greenish {
  background-color: #f0feeb !important;
}

.blueish {
  background-color: #e6f3f5 !important;
}

.purplish {
  background-color: #eaeefa !important;
}

.pinky {
  background-color: #f9eef3 !important;
}

.yellowish {
  background-color: #f3f7d9 !important;
}

.navbarContainer .align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbarContainer .nav-link {
  position: relative;
}

.navbarContainer .hotSpan {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #e7462d;
  border-radius: 8px;
  padding: 0px 10px;
  color: white;
  font-size: 12px;
}

.bgCustom {
  background: url("../assets/images/mainBgTransparent.png");
  background-position: center;
  background-size: cover;
}

.customizedRow {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customizedRow .imageWrapper {
  background-color: #f6f6f6;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 30px #f6f6f6;
          box-shadow: 0 0 0 30px #f6f6f6;
  margin: 40px 0;
  width: 50%;
  position: relative;
}

.customizedRow .imageDesc {
  width: 85%;
  position: absolute;
  left: -28%;
  bottom: -18%;
  background: rgba(255, 255, 255, 0.74);
  -webkit-box-shadow: 0px 11px 39px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 11px 39px rgba(0, 0, 0, 0.07);
  -webkit-backdrop-filter: blur(11px);
          backdrop-filter: blur(11px);
  border-radius: 17px;
  padding: 20px;
}

.customizedRow .imageDesc .descContainer {
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.customizedRow .imageDesc .descContainer p {
  margin: 0;
}

.starContainer button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0 1px;
}

.starContainer .on {
  color: #ff8412;
}

.starContainer .off {
  color: #ccc;
}

.categories .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
}

.categories .category h5 {
  margin-bottom: 0;
}
/*# sourceMappingURL=index.css.map */